<div class="modal fade modal-blur" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content rounded bg-surface-backdrop py-6" style="background-color: white !important;">

      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title">Filters</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <%= form_for line_list_reports_surveillance_index_path, method: :get do |f| %>
          <div class="row">

            <!-- Patient Id -->
            <div class="col-md-3">
              <div class="form-group">
                <label><b>Patient Id#</b></label>
                <input type="text" class="form-control" name="patient_id" id="patient_id"
                  value='<%= params[:patient_id].presence %>'>
              </div>
            </div>

            <!-- Tags -->
            <div class="col-md-3">
              <div class="form-group">
                <label><b>Tags</b></label>
                <%= select_tag :act_tag, options_for_select(patient_tag_list, selected: params[:act_tag]),
                  {class: 'form-control', include_blank: "All"} %>
              </div>
            </div>

            <!-- Department -->
            <div class="col-md-3">
              <div class="form-group">
                <label><b>Department Name</b></label>
                <%= select_tag :department, options_for_select(new_departments_list, selected: params[:department]),
                  {class: 'form-control', include_blank: "All"} %>
              </div>
            </div>

            <!-- District -->
            <div class="col-md-3">
              <div class="form-group">
                <label><b>District</b></label>
                <%= select_tag :district_id, options_for_select(all_districts_punjab, selected: params[:district_id]),
                  {class: 'form-control', id: 'patient_district_id', include_blank: "All"} %>
              </div>
            </div>

            <!-- Tehsil -->
            <div data-controller="filter-modal" class="col-md-3">
              <div class="form-group">
                <label><b>Tehsil</b></label>
                <%= select_tag :tehsil_id, options_for_select(tehsil_information(params[:district_id]), selected: params[:tehsil_id]),
                  {class: 'form-control', id: 'patient_tehsil_id', include_blank: "All"} %>
              </div>
            </div>

            <!-- UC -->
            <div class="col-md-3">
              <div class="form-group">
                <label><b>Uc</b></label>
                <%= select_tag :uc, options_for_select(ucs_information(params[:tehsil_id]), selected: params[:uc]),
                  {class: 'form-control', id: 'patient_uc_id', include_blank: "All"} %>
              </div>
            </div>

            <!-- Provisional Diagnosis -->
            <div class="col-md-3">
              <div class="form-group">
                <label><b>Provisional Diagnosis</b></label>
                <%= select_tag :provisional_diagnosis, options_for_select(provisional_diagnosis_list, selected: params[:provisional_diagnosis]),
                  {class: 'form-control', include_blank: "All"} %>
              </div>
            </div>

            <!-- Date From -->
            <div class="col-md-3">
              <div class="form-group">
                <label><b>Date From</b></label>
                <input type="datetime-local" class="form-control" name="datefrom" id="datefrom"
                  value='<%= params[:datefrom].presence || Time.now.beginning_of_day.strftime("%Y-%m-%dT%H:%M") %>'
                  max="<%= max_date_today %>">
              </div>
            </div>

            <!-- Date To -->
            <div class="col-md-3">
              <div class="form-group">
                <label><b>Date To</b></label>
                <input type="datetime-local" class="form-control" name="dateto" id="dateto"
                  value='<%= params[:dateto].presence || Time.now.strftime("%Y-%m-%dT%H:%M") %>'
                  max="<%= max_date_today %>">
              </div>
            </div>

          </div>

          <!-- Buttons -->
          <div class="modal-footer mt-3">
            <button class="btn btn-primary" type="submit">Apply Filters</button>
            <button class="btn btn-secondary" type="button" onclick="resetData()">Reset</button>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<script>
  function resetData(){
    $("select").val("");
    $("input[type=text], input[type=date], input[type=datetime-local]").val("");
  };
</script>

