           <div class="card">
                  <div class="card-table">
                    <div class="card-header">
                      <div class="row w-full">
                        <div class="col">
                          <h3 class="card-title mb-0">Patients Activity List</h3>
                        </div>
                        <div class="col-md-auto col-sm-12">
                          <div class="ms-auto d-flex flex-wrap btn-list">
                            <div class="dropdown">
                              <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown">Download</a>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Excel</a>
                              </div>
                            </div>
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-report">
                            Filters
                            </a>
                            <!-- Modal -->
                            <!----modal design end---->
                          </div>
                        </div>
                      </div>
                    </div>
                      <div id="advanced-table">
                        <div class="table-responsive">
                          <table class="table table-vcenter table-selectable">
                            <thead>
                              <tr>
                                <th class="w-1"></th>
                                <th>
                                  <button class="table-sort d-flex justify-content-between" data-sort="sort-name">Sr No.</button>
                                </th>
                                <th>
                                  <button class="table-sort d-flex justify-content-between" data-sort="sort-city">Activity ID</button>
                                </th>
                                <th>
                                  <button class="table-sort d-flex justify-content-between" data-sort="sort-status">Patient ID</button>
                                </th>
                                <th>
                                  <button class="table-sort d-flex justify-content-between" data-sort="sort-date">Patient Name</button>
                                </th>
                                <th>
                                  <button class="table-sort d-flex justify-content-between" data-sort="sort-tags">District</button>
                                </th>
                                <th>
                                  <button class="table-sort d-flex justify-content-between" data-sort="sort-category">Town</button>
                                </th>
                                <th>
                                  <button class="table-sort d-flex justify-content-between" data-sort="sort-category">UC</button>
                                </th>
                                <th>
                                  <button class="table-sort d-flex justify-content-between" data-sort="sort-category">Category Name</button>
                                </th>
                                <th>
                                  <button class="table-sort d-flex justify-content-between" data-sort="sort-category">Tag Name</button>
                                </th>
                                <th>
                                  <button class="table-sort d-flex justify-content-between" data-sort="sort-category">Patient Place</button>
                                </th>
                                <th>
                                  <button class="table-sort d-flex justify-content-between" data-sort="sort-category">Awareness</button>
                                </th>
                                <th>
                                  <button class="table-sort d-flex justify-content-between" data-sort="sort-category">Removal Breeding Spot</button>
                                </th>
                                <th>
                                  <button class="table-sort d-flex justify-content-between" data-sort="sort-category">Elimination Breeding Spot	</button>
                                </th>
                                <th>
                                  <button class="table-sort d-flex justify-content-between" data-sort="sort-category">Spray</button>
                                </th>
                                <th>
                                  <button class="table-sort d-flex justify-content-between" data-sort="sort-category">Latitude</button>
                                </th>
                                <th>
                                  <button class="table-sort d-flex justify-content-between" data-sort="sort-category">Longitude</button>
                                </th>
                                <th>
                                  <button class="table-sort d-flex justify-content-between" data-sort="sort-category">Picture</button>
                                </th>
                                <th>
                                  <button class="table-sort d-flex justify-content-between" data-sort="sort-category">Picture Capture Date/Time</button>
                                </th>
                                <th>
                                  <button class="table-sort d-flex justify-content-between" data-sort="sort-category">Comments</button>
                                </th>
                                <th>
                                  <button class="table-sort d-flex justify-content-between" data-sort="sort-category">Submitted by</button>
                                </th>
                                <th>
                                  <button class="table-sort d-flex justify-content-between" data-sort="sort-category">Activity Submission Date/Time</button>
                                </th>
                                <th>
                                  <button class="table-sort d-flex justify-content-between" data-sort="sort-category">Provisional Diagnosis</button>
                                </th>
                              </tr>
                            </thead>
                            <tbody class="table-tbody">
                              <% @activities.each_with_index do |activity, i| %>
                                <tr>
                                  <td></td>
                                  <td class="sort-name"><%= i + 1 %></td>
                                  <td class="sort-city"><%= activity.id %></td>
                                  <td class="sort-status"><%= activity.patient_id %></td>
                                  <td class="sort-date"><%= activity.patient.try(:patient_name) %></td>
                                  <td class="sort-tags"><%= activity.district_name %></td>
                                  <td class="sort-category"><%= activity.tehsil_name %></td>
                                  <td class="sort-category"><%= activity.uc_name %></td>
                                  <td class="sort-category"><%= activity.tag_category_name %></td>
                                  <td class="sort-category"><%= activity.tag_name %></td>
                                  <td class="sort-category"><%= activity.patient_place %></td>
                                  <td class="sort-category"><%= activity.awareness %></td>
                                  <td class="sort-category"><%= get_yesno activity.removal_bleeding_spot %></td>
                                  <td class="sort-category"><%= get_yesno activity.elimination_bleeding_spot %></td>
                                  <td class="sort-category"><%= get_yesno activity.patient_spray %></td>
                                  <td class="sort-category"><%= activity.latitude %></td>
                                  <td class="sort-category"><%= activity.longitude %></td>
                                  <td class="sort-category">
                                    <% cache(activity.before_picture) do %>
                                      <%= render partial: '/application/before_picture', locals: { activity: activity } %>
                                    <% end %>
                                  </td>
                                  <td class="sort-category"><%= activity.pb_time&.strftime("%m/%d/%Y %I:%M%p") %></td>
                                  <td class="sort-category"><%= activity.comment %></td>
                                  <td class="sort-category"><%= merge_username_and_name(activity) %></td>
                                  <td class="sort-category"><%= activity.created_at.strftime("on %m/%d/%Y at %I:%M%p") %></td>
                                  <td class="sort-category"><%= activity.patient.try(:provisional_diagnosis) %></td>
                                </tr>
                              <% end %>
                            </tbody>

                          </table>
                        </div>
                        <div class="card-footer d-flex align-items-center">
                          <div class="dropdown">
                            
                            <% if @activities.present? %>
                              
                              <div class="ms-3"><b>Total Records:</b> <%= @activities.total_entries %></div>
                            <% else %>
                              <div class="ms-3"><b>Total Records:</b> 0</div>
                            <% end %>
                          </div>

                          <div class="ms-auto">
                          
                           <div class="col-auto">
                              <% if @activities.present? %>
                                <%= will_paginate @activities, 
                                      class: "pagination m-0 ms-auto", 
                                      previous_label: raw('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1"><path d="M15 6l-6 6 6 6"></path></svg>'), 
                                      next_label: raw('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1"><path d="M9 6l6 6-6 6"></path></svg>')
                                %>
                              <% end %>
                            </div>

                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
<%= render 'reports/surveillance/shared/modal'%>