<table id="p_table" class="table table-bordered table-hover listing-tbl">
		<thead>
			<tr>
				<th>Sr #</th>
				<th>ID</th>
				<th>District</th>
				<th>Town</th>
				<th>UC</th>
				<th>Parent Department</th>
				<th>Sub Department</th>
				<th>Tag</th>
				<th> Name/Address  </th>
				<th>Dengue Larvae</th>
				<th>Latitude</th>
				<th>Longitude</th>
				<th>Submitted by</th>
				<th>Activity Date/Time</th>
				<th>Picture Time Difference(Sec)</th>
    	</tr>                    
		</thead>
		<tbody>
			<% @activities.each_with_index do |activity,i| %>
				<tr>
					<td><%= i + 1 %></td>
					<td><%= activity.id %></td>
					<td><%= activity.district_name %></td>
					<td><%= activity.tehsil_name %></td>
					<td><%= activity.uc_name %></td>
					<td><%= activity.try(:department).try(:parent_department_name) %></td>
					<td><%= activity.try(:department_name) %></td>
					<td><%= activity.tag_name %></td>
					<%if activity.hotspot_id.present?%>
						<td><%= activity.hotspot.try(:hotspot_name)%> / <%= activity.hotspot.try(:address)%></td>
					<%else%>
						<td>N/A</td>
					<%end%>
					<td><%= activity.larva_type.try(:titleize) %></td>
					<td><%= activity.latitude %></td>
					<td><%= activity.longitude %></td>
					<td>
						<%= merge_username_and_name(activity) %>
					</td>
					<td><%= activity.created_at.to_datetime.strftime("on %m/%d/%Y at %I:%M%p") %></td>
					<td><%= activity.pdif_time %></td>
					
				</tr>
			<% end %>
		</tbody>
	</table>